body {
	font-family: roboto;
	background: #c2e59c; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
	background: 		linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	background: #2980b9;
	color: white;
	font-size: 24px;
	font-weight: 400;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: white;
	color: #666;
	height: 40px;
	line-height: 40px;
}

li:nth-child(2n){
	background: #f6f6f6;
}

input {
	background: #f6f6f6;
	border: 3px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: #2980b9;
	font-size: 18px;
	width: 100%;
	padding: 13px 13px 13px 20px;
}

span {
	background: #e74c3c;
	color: white;
	display: inline-block;
	height: 40px;
	margin-right: 20px;
	opacity: 0;
	text-align: center;
	transition: .2s linear;
	width: 0px;
}

input:focus {
	background: white;
	border: 3px solid #2980b9;
	outline: none;
}

li:hover span{
	opacity: 1;
	width: 40px;
}

#container{
	background: #f6f6f6;
	margin: 100px auto;
	width: 360px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.fa-plus {
	float: right;
}

.clicked {
	color: gray;
	text-decoration: line-through;
}